/*********** FONTS ***********/
/*  'IBM Plex Mono', monospace  */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

/*  'Black Ops One', monospace  */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

/*********** VARIABLES ***********/
:root {
  --IBMsans: 'IBM Plex Sans', sans-serif;
  --Stencil: 'Black Ops One', monospace;
  --White: #ffffff;
  --LightBlue: #06AED5;
  --LightBlue-10: rgba(6, 175, 213, 0.2);
  --DarkBlue: #155361;
  --DarkGray: #333333;
  --Black: #000000;
}

body {
  font-family: var(--IBMsans);
  font-size: 18px;
  color: var(--White);
  line-height: 1;
}

.title {
  text-transform: uppercase;
}

.currentTime {
  font-family: var(--Stencil);
  font-size: 2.5em;
  line-height: 0.4em;
}

.scheduleGrid {
  margin: 3em .5em;
}

.row {
  margin: auto;
  padding: 0;
}

.label {
  margin-bottom: 1em;
  padding: 0;
  font-size: 0.9em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.labelEvent {
  padding-left: 15px;
}

.labelSave {
  text-align: center;
}

.hour {
  font-family: var(--Stencil);
  font-size: 1.5em;
  text-align: left;
  min-width: 2em;
  padding: .4em 0 1.4em 0;
  color: var(--White);
  border-top: 1px solid var(--LightBlue);
}

textarea {
  min-width: 100%;
  min-height: 100%;
  font-family: var(--IBMsans);
  line-height: 1.4em;
  background: transparent;
  border-top: 1px solid var(--LightBlue);
  resize: none;
  color: var(--White);
}

textarea:focus {
  outline: 3px solid var(--DarkBlue);
  background-color: var(--LightBlue);
}

.event {

}

.past {
  background-color: var(--);
}

.present {
  background-color: var(--);
}

.future {
  background-color: var(--);
}

.save {
  display: flex;
  align-items: center;
  min-width: 2em;
  justify-content: center;
  background-color: var(--LightBlue-10);
  border-top: 1px solid var(--LightBlue);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: var(--White);
}

.save:hover {
  background-color: var(--LightBlue);
  transition: all .3s ease-in-out;
}

