/*********** FONTS ***********/
/*  'IBM Plex Mono', monospace  */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

/*  'Black Ops One', monospace  */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

/*********** VARIABLES ***********/
:root {
  --IBMsans: 'IBM Plex Sans', sans-serif;
  --Stencil: 'Black Ops One', monospace;
}

body {
  font-family: var(--IBMsans);
  font-size: 18px;
  line-height: 1;
}

.title {

}

.subtitle {

}

.title, .subtitle, .currentTime, .currentDay {
  text-align: center;
}

.currentTime {
  font-family: var(--Stencil);
  font-size: 2.5em;
  line-height: 0.4em;
}

.scheduleGrid {
  margin: 3em 0;
}

/* .description {
  white-space: pre-wrap;
} */

/* .time-block {
  text-align: center;
  border-radius: 15px;
} */

.row {
  margin: auto;
  padding: 0;
  /* background: lightgreen; */
  /* white-space: pre-wrap; */
  /* height: 20px; */
}

.hour {
  font-family: monospace;
  font-size: 1.5em;
  text-align: left;
  padding: .4em 0 1.4em 0;
  /* background-color: #8d4040; */
  color: #ffffff;
  border-top: 1px solid #06AED5;
}

textarea {
  min-width: 100%;
  min-height: 100%;
  /* padding: .4em 0; */
  font-family: var(--IBMsans);
  /* font-size: 1.2em; */
  line-height: 1.4em;
  /* margin-bottom: .4em; */
  background: transparent;
  border-top: 1px solid #06AED5;;
  resize: none;
  color: #ffffff;
}

textarea:focus {
  outline: 3px solid #155361;
  background-color: #06AED5;
}

.event {

}

.save {
  font-family: monospace;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  /* background-color: #06AED5; */
  color: white;
}

.save:hover {
  /* background-color: #155361; */
  background-color: #06AED5;
  transition: all .3s ease-in-out;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}
